<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" th:href="@{/css/Estilos.css}" />
                </head>
                <body>
                    
                    <!-- NavBar -->
                    <div>
                        <nav class="navbar">
                            <div class="logo">
                              <a href="#">FideFlights</a>
                            </div>
                            <ul class="nav-links">
                              <li><a href="#">Vuelos</a></li>
                              <li><a href="#">Login</a></li>
                            </ul>
                          </nav>
                    </div>
                    <!-- Fin del NavBar -->

                    <div class="video-container">
                      <div class="video-wrapper">
                        <div class="video-title">Argentina</div>
                        <iframe class="video-iframe" width="500" height="315" src="https://www.youtube.com/embed/Qz4wGlzxxic?si=5SxDlmTN3E_BFTdB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                      </div>

                      <div class="video-wrapper">
                        <div class="video-title">Irlanda</div>
                        <iframe class="video-iframe" width="500" height="315" src="https://www.youtube.com/embed/SZ2mSFZyRcY?si=DZ7o0fYGhzTOZiv6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                      </div>
                    </div>
                    
                    <div class="video-wrapper">
                        <div class="video-title">Cartagena</div>
                        <iframe class="video-iframe" width="500" height="315" src="https://www.youtube.com/embed/OtroIDDeVideo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                      </div>
                    </div>
                    
                    
                    <!-- Footer -->
                    <div>
                        <footer class="footer">
                        <div class="footer-content">
                          <p>© 2023 FideFlights. Todos los derechos reservados.</p>
                        </div>
                        </footer>
                    </div>
                    <!-- Fin del Footer -->

                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
                </body>
                </html>
