<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
    
    <!-- Head -->
     <div th:replace="~{/index :: Head}"></div>
     
    <body>
        <div>
            
            <!-- NavBar -->
            <div th:replace="~{/index :: NavBar}"></div>
            
            <!-- Section -->
            <section>
                        <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Número de Vuelo</th>
                        <th>Destino</th>
                        <th>Lugar de Salida</th>
                        <th>Hora de Salida</th>
                        <th>Fecha de Salida</th>
                        <th>Fecha de Llegada</th>
                        <th>Modelo de Avión</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Utiliza Thymeleaf para iterar sobre la lista de vuelos -->
                    <tr th:each="vuelo : ${vuelos}">
                        <td th:text="${vuelo.id}"></td>
                        <td th:text="${vuelo.numero_vuelo}"></td>
                        <td th:text="${vuelo.destino}"></td>
                        <td th:text="${vuelo.lugar_salida}"></td>
                        <!-- Utiliza Thymeleaf para formatear la hora de salida -->
                        <td th:text="${#dates.format(vuelo.hora_salida, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${#dates.format(vuelo.fecha_salida, 'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(vuelo.fecha_llegada, 'dd-MM-yyyy')}"></td>
                        <td th:text="${vuelo.modelo_avion}"></td>
                    </tr>
                </tbody>
            </table>
            </section>
            
            <!-- Footer -->
            <div th:replace="~{/index :: Footer}"></div>
        </div>
    </body>
</html>
